#h3_idBangkok {
  font-size: 4.2rem;
  letter-spacing: 1rem;
  color: #333;
}

#span_idBangkok {
  color: #454545;
  line-height: 3rem;
  letter-spacing: 0.25rem;
  font-style: italic;
  font-weight: 500;
}

#footerStudent {
  font-size: 3.2rem;
  color: aliceblue;
  font-style: oblique;
  letter-spacing: 0.25rem;
  text-decoration: underline;
  text-shadow: 2px 2px #0004ff;
}

/*
Forms Styles 
*/

.toggle_customer {
  margin-top: 4rem;
  text-align: center;
}

.block_inputs {
  width: 50rem;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.labelCustomer {
  font-size: 2rem;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  width: 350px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
}

.labelService {
  width: 55rem;
}

.clientInput {
  padding: 1rem;
}

.block_inputs {
  width: auto;
  margin: 0 auto;
}

.btn_send {
  font-family: "Montserrat", sans-serif;
  width: 27rem;
  margin: 4rem auto;
  border: none;
  background: #404040;
  color: #ffffff;
  font-weight: 400;
  padding: 20px;
  text-transform: uppercase;
  border-radius: 6px;
  display: inline-block;
  transition: all 0.3s ease 0s;
}

.btn_send:hover {
  font-family: "Montserrat", sans-serif;
  color: #404040;
  font-weight: 600;
  letter-spacing: 3px;
  background: none;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  transition: all 0.3s ease 0s;
}

.textarea_style {
  min-width: 15rem;
  min-height: 10rem;

  resize: none;
}

.h1_Form {
  margin-top: 4rem;
  text-align: center;
  font-size: 4rem;
  margin-bottom: 3rem;
}
